html {
	box-sizing: border-box; /*need an explanation of the box-sizing declaration. When should it be used and why?*/
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
    /*background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0 auto;
}
.content {
    padding: 0px 0.938rem;
    margin: 0px auto;
    min-width: 37.5rem;
   /* border: 2px solid pink;*/
    width: 970px;
    text-align: center;
}

.top-navigation {
	background-color: #fff;
}


.top-navigation > .content {
	height: 70px;
}

.top-navigation .logo {
	 height: 3rem;
	 margin-top: 1em;
}

.top-navigation .links{
	float: right;
	color: #838994;
	margin-top: 1.6em;
	font-size: 1.1em;
}

.top-navigation .links li {
	display: inline-block;
	margin-left: 1.3em;
}

.top-navigation .links > .active {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

/*Introduction Section Styles  */

.introduction {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center bottom;
    overflow: auto;
    height: 40rem;
}

.introduction h1, .introduction h2 { /*Why is writing .introduction h1, h2 incorrect?*/
	color: #fff;
	font-weight: 300;
}

.introduction > .content {
	margin-top: 13.5rem;
}
.introduction h1 {
	font-size: 3.125rem;
	margin-bottom: -.1em;
}

.introduction h2 {
	font-size: 1.5rem;
	margin-bottom: 2em;
}


/*Main button style*/
button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
}

button {
	color: white;
	background-color: #FA9643;
	border-color: #f15a29;
	text-shadow: none;
	border-radius: 4px;
	display: block;
	margin: 0 auto;
	font-size: 1.1em;
	width: 9.688rem;
}

button:hover {
	background-color: #E87210;
	border-color: #cf3d0e;
	cursor: pointer;
}

/*! Middle Section Styles*/

/*Something is seriously borked here. .cases h2 won't render styles. Not sure why*/
.cases > .content { 
	margin-top: 5em;
	/*border: 1px solid red;*/
}

.cases h2 {
	font-size: 2.75rem;
	font-weight: 300;
}
.cases h3 {
	font-weight: 100;
	font-size: 1.5em;
	color: #666;
}

.cases .devices { /*How is this different from .cases > .devices?*/

}
.devices {
	display: inline-block;
	min-width: 30%;
	margin-bottom: 3em;
	margin-left: 1em;
}

.icon {
	 height: 9rem;
	 margin-top: 1em;
}
/*Footer Section Styles*/

footer > .content {
	border-top: 1px solid LightGray;
	margin-top: .7em;
}
 
h4.footer {
	font-size: 1em;
	color: #3E3E3E;
	font-weight: 200;

}

.icons li { /* why won't this work if it's on the UL instead of the LI?*/
	display: inline-block;
	margin-left: 1em; /*How do I get the icons to center?*/
}

.copyright {
	color: #777;
	font-size: .8em;
}
/*Social Media Icon Styles*/
.fa.fa-twitter { /*How do I write these styles?*/
	color: blue;
	border: 1px solid gray;
	border-radius: 50%;
	padding: 8px;
}


.fa.fa-facebook {
	color: blue;
	border: 1px solid gray;
	border-radius: 50%;
	padding: 8px;
}

.fa.fa-instagram {
	color: blue;
	border: 1px solid gray;
	border-radius: 50%;
	padding: 8px;

}
br {
	clear: both;
}